<hr>
<h3><%= event_template.name %></h3>
<p>Start from: <%= event_template.youngest %></p>
<p>Until: <%= event_template.oldest %></p>
<p><%= link_to "Edit Template", edit_event_template_path(event_template) %></p>
<hr>